**/__pycache__/**
**/.DS_Store
# **/tmp/*.joblib
# **/tmp/edge_lists/**
# AMR_parsers_and_graphs/graph2vec/
AMR_parsers_and_graphs/processed/**
AMR_parsers_and_graphs/ExplaGraphs/
AMR_parsers_and_graphs/xlm_roberta_logical_fallacy_classification/
AMR_parsers_and_graphs/wandb/**
AMR_parsers_and_graphs/tmp/amrgraph
AMR_parsers_and_graphs/tmp/explagraph/generated_graphs/