**/*.log
**/*.out
**/*.err
**/__pycache__/**
wandb/
logs/
cbr_analyser/case_retriever/ExplaGraphs/*/
*.ipynb_checkpoints/**
cbr_analyser/case_retriever/gcn/processed/
xlm_roberta_logical_fallacy_classification/
data/conceptNet_labels.joblib
data/conceptNet_relations.joblib
kgtk_conceptnet.tsv
**/*.pyc
**/*.pyo
**/*.pyd
**/*.so
**/*.dylib
**/*.dll
**/*.exe
**/*.zip
**/*.tar
**/*.tar.gz
**/*.tar.bz2
**/*.tar.xz
**/*.tgz
**/*.tbz2
**/*.txz
processed/
cache/gcn_model.pt
cache/graphs
cache/predictions/all_datasets/*
cache/graphs/*
cache/*
cbr_roberta_logical_fallacy_classification
coarsegrained_labels_based_retriever/
finegrained_labels_based_retriever/
logical_fallacy_classifier_baseline/
cbr_electra_logical_fallacy_classification/
cbr_roberta_logical_fallacy_classification_without_attention/
tmp/
